
<h1 class="accor">Accordion</h1>
    
<section class="accordion">
    <h2 class="accorde">Preguntas frecuentes🤔</h2>

    <h3 class="accordion-title accordion--open">Cuanto tiempo se demora el envio?!</h3>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, odit. Ratione dolorem assumenda necessitatibus, recusandae quisquam, magnam perferendis fugit ducimus nostrum eius quas deleniti illum?</p>
    </div>
    <h3 class="accordion-title">Que productos tienen garantia?.</h3>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis  quas inventore id, in earum ratione.</p>
        <p>Eos molestiae quia esse? Natus consequatur minus sint iste? Soluta fficiis corporis facilis quod quos? Aut, consectetur?</p>
    </div>
    <h3 class="accordion-title">Donde estan ubicados?</h3>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta. Quasi illum id accusamus, repudiandae perspiciatis nisi dolore quod rem itaque distinctio dolores nulla reiciendis?</p>
    </div>
    <h3 class="accordion-title">Horarios de atencion</h3>
    <div class="accordion-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, atque quisquam aperiam, commodi quasi iste eaque ipsum molestias suscipit, repudiandae voluptatibus totam reiciendis assumenda? Iusto!</p>
    </div>
    <h3 class="accordion-title">Hacen envio al extranjero?</h3>
    <div class="accordion-content ">
        <p>Lorem ipsum dolor sit. Accusamus, facilis nostrum maxime sapiente eveniet possimus cupiditate corporis sequi maiores.</p>
        <p>Doloremque, repellendus! Nihil suscipit quo exercitationem odio explicabo quod, libero possimus quia rem cumque eligendi dolorem. Natus alias error vel.</p>
    </div>
    <h3 class="accordion-title">Tienen tiendas fisicas en el extranjero?</h3>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam harum eligendi nemo id placeat nobis. Nobis iusto aperiam error quidem eius fugit quibusdam maiores doloremque.</p>
    </div>
    <h3 class="accordion-title">Como puedo ver los tamaños de los juguetes?</h3>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque quaerat atque est vel aspernatur alias libero debitis! Autem quae facilis excepturi itaque.</p>
        <p>Alias, imus animi eum voluptatem, quas qui corporis esse itaque iure cupiditate minima nisi quaerat, ducimus suscipit, assumenda blanditiis!</p>
    </div>
</section>